In [199]:
import pandas as pd
import numpy as np

# extracting features of 2021 movies from wikipedia

In [200]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [201]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,1.0,Black Widow*,Disney,"$180,903,407",NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,F9*,Universal,"$172,652,175",NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,A Quiet Place Part II*,Paramount,"$160,072,261",NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Godzilla vs. Kong,Warner Bros.,"$100,563,133",NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Jungle Cruise*,Disney,"$96,402,182",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
261,NaN,Dear Evan Hansen,NaN,NaN,SEPTEMBER,24.0,Universal Pictures / Perfect World Pictures,Stephen Chbosky (director); Steven Levenson (s...,NaN,[189]
262,NaN,The Guilty,NaN,NaN,SEPTEMBER,24.0,Netflix / Nine Stories Productions / Bold Films,Antoine Fuqua (director); Nic Pizzolatto (scre...,NaN,[164]
263,NaN,My Little Pony: A New Generation,NaN,NaN,SEPTEMBER,24.0,Netflix / Entertainment One,"Robert Cullen, Jose Ucha (directors); Gillian ...",NaN,[190]
264,NaN,Birds of Paradise,NaN,NaN,SEPTEMBER,24.0,Amazon Studios,Sarah Adina Smith (director/screenplay); Krist...,NaN,[191]
265,NaN,After We Fell,NaN,NaN,SEPTEMBER,30.0,Voltage Pictures,Castille Landon (director); Sharon Soboil (scr...,NaN,[192]

In [202]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'd0bd1b99f500ff77312b5008f9d64dda'

In [203]:
#extracting genres from tmdb site.
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
        #genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        #return genre_str.join(genres)
        return genres
    else:
        np.NaN

In [204]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [205]:
df.head(5)

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.,genres
0,1.0,Black Widow*,Disney,"$180,903,407",NaN,NaN,NaN,NaN,NaN,NaN,"[Action, Adventure, Thriller, Science Fiction]"
1,2.0,F9*,Universal,"$172,652,175",NaN,NaN,NaN,NaN,NaN,NaN,"[Action, Crime, Thriller]"
2,3.0,A Quiet Place Part II*,Paramount,"$160,072,261",NaN,NaN,NaN,NaN,NaN,NaN,"[Science Fiction, Thriller, Horror]"
3,4.0,Godzilla vs. Kong,Warner Bros.,"$100,563,133",NaN,NaN,NaN,NaN,NaN,NaN,"[Action, Adventure, Fantasy]"
4,5.0,Jungle Cruise*,Disney,"$96,402,182",NaN,NaN,NaN,NaN,NaN,NaN,"[Adventure, Fantasy, Comedy, Action]"

In [206]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 11 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Rank                                                                         10 non-null     float64
 1   Title                                                                        266 non-null    object
 2   Distributor                                                                  10 non-null     object
 3   Domestic gross                                                               10 non-null     object
 4   Opening                                                                      256 non-null    object
 5   Opening.1                                                                    256 non-null    float64
 6   Production company                                                           256 non-null    object
 7   Cast and crew                                                                256 non-null    object
 8   .mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.  51 non-null     object
 9   Ref.                                                                         145 non-null    object
 10  genres                                                                       266 non-null    object
dtypes: float64(2), object(9)
memory usage: 23.0+ KB

In [207]:
#extracting Overview from tmdb site.
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_overview(x):
    overview = []
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['overview']:
        overview_str = "" 
        for i in range(0,len(data_json['overview'])):
            overview.append(data_json['overview'][i])
        return overview_str.join(overview)
        #return overview
    else:
        np.NaN

In [208]:
df['overview'] = df['Title'].map(lambda x: get_overview(str(x)))

In [209]:
df.head(5)

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.,genres,overview
0,1.0,Black Widow*,Disney,"$180,903,407",NaN,NaN,NaN,NaN,NaN,NaN,"[Action, Adventure, Thriller, Science Fiction]","Natasha Romanoff, also known as Black Widow, c..."
1,2.0,F9*,Universal,"$172,652,175",NaN,NaN,NaN,NaN,NaN,NaN,"[Action, Crime, Thriller]",Dominic Toretto and his crew battle the most s...
2,3.0,A Quiet Place Part II*,Paramount,"$160,072,261",NaN,NaN,NaN,NaN,NaN,NaN,"[Science Fiction, Thriller, Horror]","Following the events at home, the Abbott famil..."
3,4.0,Godzilla vs. Kong,Warner Bros.,"$100,563,133",NaN,NaN,NaN,NaN,NaN,NaN,"[Action, Adventure, Fantasy]","In a time when monsters walk the Earth, humani..."
4,5.0,Jungle Cruise*,Disney,"$96,402,182",NaN,NaN,NaN,NaN,NaN,NaN,"[Adventure, Fantasy, Comedy, Action]",Dr. Lily Houghton enlists the aid of wisecrack...

In [210]:
df['overview']=df['overview'].apply(lambda x:x.split())

In [211]:
df.head(5)

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.,genres,overview
0,1.0,Black Widow*,Disney,"$180,903,407",NaN,NaN,NaN,NaN,NaN,NaN,"[Action, Adventure, Thriller, Science Fiction]","[Natasha, Romanoff,, also, known, as, Black, W..."
1,2.0,F9*,Universal,"$172,652,175",NaN,NaN,NaN,NaN,NaN,NaN,"[Action, Crime, Thriller]","[Dominic, Toretto, and, his, crew, battle, the..."
2,3.0,A Quiet Place Part II*,Paramount,"$160,072,261",NaN,NaN,NaN,NaN,NaN,NaN,"[Science Fiction, Thriller, Horror]","[Following, the, events, at, home,, the, Abbot..."
3,4.0,Godzilla vs. Kong,Warner Bros.,"$100,563,133",NaN,NaN,NaN,NaN,NaN,NaN,"[Action, Adventure, Fantasy]","[In, a, time, when, monsters, walk, the, Earth..."
4,5.0,Jungle Cruise*,Disney,"$96,402,182",NaN,NaN,NaN,NaN,NaN,NaN,"[Adventure, Fantasy, Comedy, Action]","[Dr., Lily, Houghton, enlists, the, aid, of, w..."

In [212]:
#extracting Movie ID from tmdb site.
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_movieid(x):
    movieid=0
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['id']:
            #movieid.append(data_json['id'])
            movieid=data_json['id']
            return movieid
        #return id_str.join(movieid)
    else:
        np.NaN

In [213]:
df['id'] = df['Title'].map(lambda x: get_movieid(str(x)))

In [214]:
df.head(5)

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.,genres,overview,id
0,1.0,Black Widow*,Disney,"$180,903,407",NaN,NaN,NaN,NaN,NaN,NaN,"[Action, Adventure, Thriller, Science Fiction]","[Natasha, Romanoff,, also, known, as, Black, W...",497698
1,2.0,F9*,Universal,"$172,652,175",NaN,NaN,NaN,NaN,NaN,NaN,"[Action, Crime, Thriller]","[Dominic, Toretto, and, his, crew, battle, the...",385128
2,3.0,A Quiet Place Part II*,Paramount,"$160,072,261",NaN,NaN,NaN,NaN,NaN,NaN,"[Science Fiction, Thriller, Horror]","[Following, the, events, at, home,, the, Abbot...",520763
3,4.0,Godzilla vs. Kong,Warner Bros.,"$100,563,133",NaN,NaN,NaN,NaN,NaN,NaN,"[Action, Adventure, Fantasy]","[In, a, time, when, monsters, walk, the, Earth...",399566
4,5.0,Jungle Cruise*,Disney,"$96,402,182",NaN,NaN,NaN,NaN,NaN,NaN,"[Adventure, Fantasy, Comedy, Action]","[Dr., Lily, Houghton, enlists, the, aid, of, w...",451048

In [215]:
df=df.loc[:, [
'id',
'Title',
'genres',
'overview',
'Cast and crew']]

In [216]:
df.head(7)

,id,Title,genres,overview,Cast and crew
0,497698,Black Widow*,"[Action, Adventure, Thriller, Science Fiction]","[Natasha, Romanoff,, also, known, as, Black, W...",NaN
1,385128,F9*,"[Action, Crime, Thriller]","[Dominic, Toretto, and, his, crew, battle, the...",NaN
2,520763,A Quiet Place Part II*,"[Science Fiction, Thriller, Horror]","[Following, the, events, at, home,, the, Abbot...",NaN
3,399566,Godzilla vs. Kong,"[Action, Adventure, Fantasy]","[In, a, time, when, monsters, walk, the, Earth...",NaN
4,451048,Jungle Cruise*,"[Adventure, Fantasy, Comedy, Action]","[Dr., Lily, Houghton, enlists, the, aid, of, w...",NaN
5,337404,Cruella*,"[Comedy, Crime]","[In, 1970s, London, amidst, the, punk, rock, r...",NaN
6,550988,Free Guy*,"[Comedy, Action, Adventure, Science Fiction]","[A, bank, teller, called, Guy, realizes, he, i...",NaN

In [217]:
df['Cast and crew'].unique

<bound method Series.unique of 0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
                             ...
261    Stephen Chbosky (director); Steven Levenson (s...
262    Antoine Fuqua (director); Nic Pizzolatto (scre...
263    Robert Cullen, Jose Ucha (directors); Gillian ...
264    Sarah Adina Smith (director/screenplay); Krist...
265    Castille Landon (director); Sharon Soboil (scr...
Name: Cast and crew, Length: 266, dtype: object>

In [218]:
df.isnull().sum()

id                0
Title             0
genres            0
overview          0
Cast and crew    10
dtype: int64

In [219]:
df.dropna(inplace=True)

In [220]:
df.head(7)

,id,Title,genres,overview,Cast and crew
10,675327,Shadow in the Cloud,"[Horror, Action, War]","[A, WWII, pilot, traveling, with, top, secret,...",Roseanne Liang (director/screenplay); Max Land...
11,628534,The White Tiger,"[Crime, Drama]","[An, ambitious, Indian, driver, uses, his, wit...",Ramin Bahrani (director/screenplay); Adarsh Go...
12,741228,Locked Down,"[Comedy, Crime, Drama]","[During, a, COVID-19, lockdown,, sparring, cou...",Doug Liman (director); Steven Knight (screenpl...
13,532865,The Dig,"[Drama, History]","[As, WWII, looms,, a, wealthy, widow, hires, a...",Simon Stone (director); Moira Buffini (screenp...
14,775996,Outside the Wire,"[Thriller, Action, Science Fiction]","[In, the, near, future,, a, drone, pilot, is, ...","Mikael HÃ¥fstrÃ¶m (director); Rob Yescombe, Rowa..."
15,634528,The Marksman,"[Action, Thriller, Crime]","[Jim, Hansonâ€™s, quiet, life, is, suddenly, dis...",Robert Lorenz (director/screenpaly); Chris Cha...
16,621476,American Skin,[Drama],"[A, Marine, veteran, working, as, a, school, j...",Nate Parker (director/screenplay); Nate Parker...

In [221]:
boolean = df.duplicated(subset=['Title']).any()

In [222]:
boolean

False

In [223]:
import ast

In [224]:
#get director from Cast and crew feature
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    elif " (director/screenpaly)" in x:
        return x.split(" (director/screenpaly)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [225]:
df['director_name'] = df['Cast and crew'].map(lambda x: get_director(x))

In [226]:
df['director_name']

10               Roseanne Liang
11                Ramin Bahrani
12                   Doug Liman
13                  Simon Stone
14              Mikael HÃ¥fstrÃ¶m
                 ...
261             Stephen Chbosky
262               Antoine Fuqua
263    Robert Cullen, Jose Ucha
264           Sarah Adina Smith
265             Castille Landon
Name: director_name, Length: 256, dtype: object

In [227]:
df['director_name']=df['director_name'].apply(lambda x: x.replace(" ",""))

In [228]:
df.head(7)

,id,Title,genres,overview,Cast and crew,director_name
10,675327,Shadow in the Cloud,"[Horror, Action, War]","[A, WWII, pilot, traveling, with, top, secret,...",Roseanne Liang (director/screenplay); Max Land...,RoseanneLiang
11,628534,The White Tiger,"[Crime, Drama]","[An, ambitious, Indian, driver, uses, his, wit...",Ramin Bahrani (director/screenplay); Adarsh Go...,RaminBahrani
12,741228,Locked Down,"[Comedy, Crime, Drama]","[During, a, COVID-19, lockdown,, sparring, cou...",Doug Liman (director); Steven Knight (screenpl...,DougLiman
13,532865,The Dig,"[Drama, History]","[As, WWII, looms,, a, wealthy, widow, hires, a...",Simon Stone (director); Moira Buffini (screenp...,SimonStone
14,775996,Outside the Wire,"[Thriller, Action, Science Fiction]","[In, the, near, future,, a, drone, pilot, is, ...","Mikael HÃ¥fstrÃ¶m (director); Rob Yescombe, Rowa...",MikaelHÃ¥fstrÃ¶m
15,634528,The Marksman,"[Action, Thriller, Crime]","[Jim, Hansonâ€™s, quiet, life, is, suddenly, dis...",Robert Lorenz (director/screenpaly); Chris Cha...,RobertLorenz
16,621476,American Skin,[Drama],"[A, Marine, veteran, working, as, a, school, j...",Nate Parker (director/screenplay); Nate Parker...,NateParker

In [229]:
#extracting Actor 1
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [230]:
df['actor_1_name'] = df['Cast and crew'].map(lambda x: get_actor1(x))

In [231]:
df['actor_1_name']=df['actor_1_name'].apply(lambda x: x.replace(" ",""))

In [232]:
df['actor_1_name']

10      ChloÃ«GraceMoretz
11          AdarshGourav
12          AnneHathaway
13         CareyMulligan
14         AnthonyMackie
             ...
261             BenPlatt
262       JakeGyllenhaal
263       VanessaHudgens
264      KristineFroseth
265    JosephineLangford
Name: actor_1_name, Length: 256, dtype: object

In [233]:
df.head(7)

,id,Title,genres,overview,Cast and crew,director_name,actor_1_name
10,675327,Shadow in the Cloud,"[Horror, Action, War]","[A, WWII, pilot, traveling, with, top, secret,...",Roseanne Liang (director/screenplay); Max Land...,RoseanneLiang,ChloÃ«GraceMoretz
11,628534,The White Tiger,"[Crime, Drama]","[An, ambitious, Indian, driver, uses, his, wit...",Ramin Bahrani (director/screenplay); Adarsh Go...,RaminBahrani,AdarshGourav
12,741228,Locked Down,"[Comedy, Crime, Drama]","[During, a, COVID-19, lockdown,, sparring, cou...",Doug Liman (director); Steven Knight (screenpl...,DougLiman,AnneHathaway
13,532865,The Dig,"[Drama, History]","[As, WWII, looms,, a, wealthy, widow, hires, a...",Simon Stone (director); Moira Buffini (screenp...,SimonStone,CareyMulligan
14,775996,Outside the Wire,"[Thriller, Action, Science Fiction]","[In, the, near, future,, a, drone, pilot, is, ...","Mikael HÃ¥fstrÃ¶m (director); Rob Yescombe, Rowa...",MikaelHÃ¥fstrÃ¶m,AnthonyMackie
15,634528,The Marksman,"[Action, Thriller, Crime]","[Jim, Hansonâ€™s, quiet, life, is, suddenly, dis...",Robert Lorenz (director/screenpaly); Chris Cha...,RobertLorenz,LiamNeeson
16,621476,American Skin,[Drama],"[A, Marine, veteran, working, as, a, school, j...",Nate Parker (director/screenplay); Nate Parker...,NateParker,NateParker

In [234]:
#extracting Actor 2 name
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [235]:
df['actor_2_name'] = df['Cast and crew'].map(lambda x: get_actor2(x))

In [236]:
df['actor_2_name'] = df['actor_2_name'].apply(lambda x: str(x).replace(" ",""))

In [237]:
df.head(7)

,id,Title,genres,overview,Cast and crew,director_name,actor_1_name,actor_2_name
10,675327,Shadow in the Cloud,"[Horror, Action, War]","[A, WWII, pilot, traveling, with, top, secret,...",Roseanne Liang (director/screenplay); Max Land...,RoseanneLiang,ChloÃ«GraceMoretz,TaylorJohnSmith
11,628534,The White Tiger,"[Crime, Drama]","[An, ambitious, Indian, driver, uses, his, wit...",Ramin Bahrani (director/screenplay); Adarsh Go...,RaminBahrani,AdarshGourav,RajkummarRao
12,741228,Locked Down,"[Comedy, Crime, Drama]","[During, a, COVID-19, lockdown,, sparring, cou...",Doug Liman (director); Steven Knight (screenpl...,DougLiman,AnneHathaway,ChiwetelEjiofor
13,532865,The Dig,"[Drama, History]","[As, WWII, looms,, a, wealthy, widow, hires, a...",Simon Stone (director); Moira Buffini (screenp...,SimonStone,CareyMulligan,RalphFiennes
14,775996,Outside the Wire,"[Thriller, Action, Science Fiction]","[In, the, near, future,, a, drone, pilot, is, ...","Mikael HÃ¥fstrÃ¶m (director); Rob Yescombe, Rowa...",MikaelHÃ¥fstrÃ¶m,AnthonyMackie,DamsonIdris
15,634528,The Marksman,"[Action, Thriller, Crime]","[Jim, Hansonâ€™s, quiet, life, is, suddenly, dis...",Robert Lorenz (director/screenpaly); Chris Cha...,RobertLorenz,LiamNeeson,KatherynWinnick
16,621476,American Skin,[Drama],"[A, Marine, veteran, working, as, a, school, j...",Nate Parker (director/screenplay); Nate Parker...,NateParker,NateParker,OmariHardwick

In [238]:
#extracting Actor 3 name
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [239]:
df['actor_3_name'] = df['Cast and crew'].map(lambda x: get_actor3(x))

In [240]:
df['actor_3_name'] = df['actor_3_name'].apply(lambda x:str(x).replace(" ",""))

In [241]:
df.head(7)

,id,Title,genres,overview,Cast and crew,director_name,actor_1_name,actor_2_name,actor_3_name
10,675327,Shadow in the Cloud,"[Horror, Action, War]","[A, WWII, pilot, traveling, with, top, secret,...",Roseanne Liang (director/screenplay); Max Land...,RoseanneLiang,ChloÃ«GraceMoretz,TaylorJohnSmith,BeulahKoale
11,628534,The White Tiger,"[Crime, Drama]","[An, ambitious, Indian, driver, uses, his, wit...",Ramin Bahrani (director/screenplay); Adarsh Go...,RaminBahrani,AdarshGourav,RajkummarRao,PriyankaChopraJonas
12,741228,Locked Down,"[Comedy, Crime, Drama]","[During, a, COVID-19, lockdown,, sparring, cou...",Doug Liman (director); Steven Knight (screenpl...,DougLiman,AnneHathaway,ChiwetelEjiofor,StephenMerchant
13,532865,The Dig,"[Drama, History]","[As, WWII, looms,, a, wealthy, widow, hires, a...",Simon Stone (director); Moira Buffini (screenp...,SimonStone,CareyMulligan,RalphFiennes,LilyJames
14,775996,Outside the Wire,"[Thriller, Action, Science Fiction]","[In, the, near, future,, a, drone, pilot, is, ...","Mikael HÃ¥fstrÃ¶m (director); Rob Yescombe, Rowa...",MikaelHÃ¥fstrÃ¶m,AnthonyMackie,DamsonIdris,EmilyBeecham
15,634528,The Marksman,"[Action, Thriller, Crime]","[Jim, Hansonâ€™s, quiet, life, is, suddenly, dis...",Robert Lorenz (director/screenpaly); Chris Cha...,RobertLorenz,LiamNeeson,KatherynWinnick,JuanPabloRaba
16,621476,American Skin,[Drama],"[A, Marine, veteran, working, as, a, school, j...",Nate Parker (director/screenplay); Nate Parker...,NateParker,NateParker,OmariHardwick,TheoRossi

In [ ]:
#converting string column to list, so that can be concatinated with genres and overview column

In [245]:
def converter_list(x):
    l=[]
    l.append(x)
    return l

In [247]:
df['director_name']=df['director_name'].apply(converter_list)

In [249]:
df.head(7)

,id,Title,genres,overview,Cast and crew,director_name,actor_1_name,actor_2_name,actor_3_name
10,675327,Shadow in the Cloud,"[Horror, Action, War]","[A, WWII, pilot, traveling, with, top, secret,...",Roseanne Liang (director/screenplay); Max Land...,[RoseanneLiang],ChloÃ«GraceMoretz,TaylorJohnSmith,BeulahKoale
11,628534,The White Tiger,"[Crime, Drama]","[An, ambitious, Indian, driver, uses, his, wit...",Ramin Bahrani (director/screenplay); Adarsh Go...,[RaminBahrani],AdarshGourav,RajkummarRao,PriyankaChopraJonas
12,741228,Locked Down,"[Comedy, Crime, Drama]","[During, a, COVID-19, lockdown,, sparring, cou...",Doug Liman (director); Steven Knight (screenpl...,[DougLiman],AnneHathaway,ChiwetelEjiofor,StephenMerchant
13,532865,The Dig,"[Drama, History]","[As, WWII, looms,, a, wealthy, widow, hires, a...",Simon Stone (director); Moira Buffini (screenp...,[SimonStone],CareyMulligan,RalphFiennes,LilyJames
14,775996,Outside the Wire,"[Thriller, Action, Science Fiction]","[In, the, near, future,, a, drone, pilot, is, ...","Mikael HÃ¥fstrÃ¶m (director); Rob Yescombe, Rowa...",[MikaelHÃ¥fstrÃ¶m],AnthonyMackie,DamsonIdris,EmilyBeecham
15,634528,The Marksman,"[Action, Thriller, Crime]","[Jim, Hansonâ€™s, quiet, life, is, suddenly, dis...",Robert Lorenz (director/screenpaly); Chris Cha...,[RobertLorenz],LiamNeeson,KatherynWinnick,JuanPabloRaba
16,621476,American Skin,[Drama],"[A, Marine, veteran, working, as, a, school, j...",Nate Parker (director/screenplay); Nate Parker...,[NateParker],NateParker,OmariHardwick,TheoRossi

In [250]:
#converting actor1/2/3 columns to list
df['actor_1_name']=df['actor_1_name'].apply(converter_list)
df['actor_2_name']=df['actor_2_name'].apply(converter_list)
df['actor_3_name']=df['actor_3_name'].apply(converter_list)

In [251]:
df.head(7)

,id,Title,genres,overview,Cast and crew,director_name,actor_1_name,actor_2_name,actor_3_name
10,675327,Shadow in the Cloud,"[Horror, Action, War]","[A, WWII, pilot, traveling, with, top, secret,...",Roseanne Liang (director/screenplay); Max Land...,[RoseanneLiang],[ChloÃ«GraceMoretz],[TaylorJohnSmith],[BeulahKoale]
11,628534,The White Tiger,"[Crime, Drama]","[An, ambitious, Indian, driver, uses, his, wit...",Ramin Bahrani (director/screenplay); Adarsh Go...,[RaminBahrani],[AdarshGourav],[RajkummarRao],[PriyankaChopraJonas]
12,741228,Locked Down,"[Comedy, Crime, Drama]","[During, a, COVID-19, lockdown,, sparring, cou...",Doug Liman (director); Steven Knight (screenpl...,[DougLiman],[AnneHathaway],[ChiwetelEjiofor],[StephenMerchant]
13,532865,The Dig,"[Drama, History]","[As, WWII, looms,, a, wealthy, widow, hires, a...",Simon Stone (director); Moira Buffini (screenp...,[SimonStone],[CareyMulligan],[RalphFiennes],[LilyJames]
14,775996,Outside the Wire,"[Thriller, Action, Science Fiction]","[In, the, near, future,, a, drone, pilot, is, ...","Mikael HÃ¥fstrÃ¶m (director); Rob Yescombe, Rowa...",[MikaelHÃ¥fstrÃ¶m],[AnthonyMackie],[DamsonIdris],[EmilyBeecham]
15,634528,The Marksman,"[Action, Thriller, Crime]","[Jim, Hansonâ€™s, quiet, life, is, suddenly, dis...",Robert Lorenz (director/screenpaly); Chris Cha...,[RobertLorenz],[LiamNeeson],[KatherynWinnick],[JuanPabloRaba]
16,621476,American Skin,[Drama],"[A, Marine, veteran, working, as, a, school, j...",Nate Parker (director/screenplay); Nate Parker...,[NateParker],[NateParker],[OmariHardwick],[TheoRossi]

In [252]:
#creationg "Tags" columns i.e. combining of all features

In [253]:
df["tags"]=df['genres']+df['overview']+df["director_name"]+df["actor_1_name"]+df["actor_2_name"]+df["actor_3_name"]

In [254]:
df.head(7)

,id,Title,genres,overview,Cast and crew,director_name,actor_1_name,actor_2_name,actor_3_name,tags
10,675327,Shadow in the Cloud,"[Horror, Action, War]","[A, WWII, pilot, traveling, with, top, secret,...",Roseanne Liang (director/screenplay); Max Land...,[RoseanneLiang],[ChloÃ«GraceMoretz],[TaylorJohnSmith],[BeulahKoale],"[Horror, Action, War, A, WWII, pilot, travelin..."
11,628534,The White Tiger,"[Crime, Drama]","[An, ambitious, Indian, driver, uses, his, wit...",Ramin Bahrani (director/screenplay); Adarsh Go...,[RaminBahrani],[AdarshGourav],[RajkummarRao],[PriyankaChopraJonas],"[Crime, Drama, An, ambitious, Indian, driver, ..."
12,741228,Locked Down,"[Comedy, Crime, Drama]","[During, a, COVID-19, lockdown,, sparring, cou...",Doug Liman (director); Steven Knight (screenpl...,[DougLiman],[AnneHathaway],[ChiwetelEjiofor],[StephenMerchant],"[Comedy, Crime, Drama, During, a, COVID-19, lo..."
13,532865,The Dig,"[Drama, History]","[As, WWII, looms,, a, wealthy, widow, hires, a...",Simon Stone (director); Moira Buffini (screenp...,[SimonStone],[CareyMulligan],[RalphFiennes],[LilyJames],"[Drama, History, As, WWII, looms,, a, wealthy,..."
14,775996,Outside the Wire,"[Thriller, Action, Science Fiction]","[In, the, near, future,, a, drone, pilot, is, ...","Mikael HÃ¥fstrÃ¶m (director); Rob Yescombe, Rowa...",[MikaelHÃ¥fstrÃ¶m],[AnthonyMackie],[DamsonIdris],[EmilyBeecham],"[Thriller, Action, Science Fiction, In, the, n..."
15,634528,The Marksman,"[Action, Thriller, Crime]","[Jim, Hansonâ€™s, quiet, life, is, suddenly, dis...",Robert Lorenz (director/screenpaly); Chris Cha...,[RobertLorenz],[LiamNeeson],[KatherynWinnick],[JuanPabloRaba],"[Action, Thriller, Crime, Jim, Hansonâ€™s, quiet..."
16,621476,American Skin,[Drama],"[A, Marine, veteran, working, as, a, school, j...",Nate Parker (director/screenplay); Nate Parker...,[NateParker],[NateParker],[OmariHardwick],[TheoRossi],"[Drama, A, Marine, veteran, working, as, a, sc..."

In [258]:
df["tags"][11]

['Crime',
 'Drama',
 'An',
 'ambitious',
 'Indian',
 'driver',
 'uses',
 'his',
 'wit',
 'and',
 'cunning',
 'to',
 'escape',
 'from',
 'poverty',
 'and',
 'rise',
 'to',
 'the',
 'top.',
 'An',
 'epic',
 'journey',
 'based',
 'on',
 'the',
 'New',
 'York',
 'Times',
 'bestseller.',
 'RaminBahrani',
 'AdarshGourav',
 'RajkummarRao',
 'PriyankaChopraJonas']

In [260]:
df1=df

In [261]:
df1.head(7)

,id,Title,genres,overview,Cast and crew,director_name,actor_1_name,actor_2_name,actor_3_name,tags
10,675327,Shadow in the Cloud,"[Horror, Action, War]","[A, WWII, pilot, traveling, with, top, secret,...",Roseanne Liang (director/screenplay); Max Land...,[RoseanneLiang],[ChloÃ«GraceMoretz],[TaylorJohnSmith],[BeulahKoale],"[Horror, Action, War, A, WWII, pilot, travelin..."
11,628534,The White Tiger,"[Crime, Drama]","[An, ambitious, Indian, driver, uses, his, wit...",Ramin Bahrani (director/screenplay); Adarsh Go...,[RaminBahrani],[AdarshGourav],[RajkummarRao],[PriyankaChopraJonas],"[Crime, Drama, An, ambitious, Indian, driver, ..."
12,741228,Locked Down,"[Comedy, Crime, Drama]","[During, a, COVID-19, lockdown,, sparring, cou...",Doug Liman (director); Steven Knight (screenpl...,[DougLiman],[AnneHathaway],[ChiwetelEjiofor],[StephenMerchant],"[Comedy, Crime, Drama, During, a, COVID-19, lo..."
13,532865,The Dig,"[Drama, History]","[As, WWII, looms,, a, wealthy, widow, hires, a...",Simon Stone (director); Moira Buffini (screenp...,[SimonStone],[CareyMulligan],[RalphFiennes],[LilyJames],"[Drama, History, As, WWII, looms,, a, wealthy,..."
14,775996,Outside the Wire,"[Thriller, Action, Science Fiction]","[In, the, near, future,, a, drone, pilot, is, ...","Mikael HÃ¥fstrÃ¶m (director); Rob Yescombe, Rowa...",[MikaelHÃ¥fstrÃ¶m],[AnthonyMackie],[DamsonIdris],[EmilyBeecham],"[Thriller, Action, Science Fiction, In, the, n..."
15,634528,The Marksman,"[Action, Thriller, Crime]","[Jim, Hansonâ€™s, quiet, life, is, suddenly, dis...",Robert Lorenz (director/screenpaly); Chris Cha...,[RobertLorenz],[LiamNeeson],[KatherynWinnick],[JuanPabloRaba],"[Action, Thriller, Crime, Jim, Hansonâ€™s, quiet..."
16,621476,American Skin,[Drama],"[A, Marine, veteran, working, as, a, school, j...",Nate Parker (director/screenplay); Nate Parker...,[NateParker],[NateParker],[OmariHardwick],[TheoRossi],"[Drama, A, Marine, veteran, working, as, a, sc..."

In [276]:
df1=df1.rename(columns={"Title": "title","id": "movie_id"})

In [277]:
df1.head(3)

,movie_id,title,genres,overview,Cast and crew,director_name,actor_1_name,actor_2_name,actor_3_name,tags
10,675327,Shadow in the Cloud,"[Horror, Action, War]","[A, WWII, pilot, traveling, with, top, secret,...",Roseanne Liang (director/screenplay); Max Land...,[RoseanneLiang],[ChloÃ«GraceMoretz],[TaylorJohnSmith],[BeulahKoale],"[Horror, Action, War, A, WWII, pilot, travelin..."
11,628534,The White Tiger,"[Crime, Drama]","[An, ambitious, Indian, driver, uses, his, wit...",Ramin Bahrani (director/screenplay); Adarsh Go...,[RaminBahrani],[AdarshGourav],[RajkummarRao],[PriyankaChopraJonas],"[Crime, Drama, An, ambitious, Indian, driver, ..."
12,741228,Locked Down,"[Comedy, Crime, Drama]","[During, a, COVID-19, lockdown,, sparring, cou...",Doug Liman (director); Steven Knight (screenpl...,[DougLiman],[AnneHathaway],[ChiwetelEjiofor],[StephenMerchant],"[Comedy, Crime, Drama, During, a, COVID-19, lo..."

In [278]:
df1=df1[["movie_id","title","tags"]]

In [279]:
df1.head(7)

,movie_id,title,tags
10,675327,Shadow in the Cloud,"[Horror, Action, War, A, WWII, pilot, travelin..."
11,628534,The White Tiger,"[Crime, Drama, An, ambitious, Indian, driver, ..."
12,741228,Locked Down,"[Comedy, Crime, Drama, During, a, COVID-19, lo..."
13,532865,The Dig,"[Drama, History, As, WWII, looms,, a, wealthy,..."
14,775996,Outside the Wire,"[Thriller, Action, Science Fiction, In, the, n..."
15,634528,The Marksman,"[Action, Thriller, Crime, Jim, Hansonâ€™s, quiet..."
16,621476,American Skin,"[Drama, A, Marine, veteran, working, as, a, sc..."

In [280]:
df1.to_csv('data2.csv',index=False)